body{
    background-color: bisque;
}
h1{
    background-color: aliceblue;}
.paragraf1{
background-color: aqua;
}
h2{
    background-color: brown;
}
.paragraf2{
    background-color:pink;
}
.punkt1{color: blueviolet;
    
}
.punkt2{color: blue;
}
.punkt3{color: aqua;
}
.punkt5{color: brown;}